@charset "utf-8";
/* CSS Document */
*{margin:0;
padding:0;
}
header{
	width:100%;
}
nav{
	margin:20px auto;
	width:90%
	max-width:1000px;
}
nav ul{
	list-style:none;
}
nav > ul{
	display:table;
	overflow:hidden;
	width:100%;
	background-color:#06C;
	position:relative;
	
}
nav > ul li{
	display:table-cell;
}
/*sub menu*/
nav > ul > li:hover > ul{
	display:block;
}
nav > ul > li > ul{
	display:none;
}
nav > ul li a{
	color:#FFF;
	display:block;
	line-height:20px;
	padding:20px;
	position:relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition:all .3s ease;
}
nav > ul >li >ul > li a:hover{
	background:#CC9;

}
nav > ul > li > a span{
	background:#C03;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;	
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition:all .3s ease;
}
body{
background: url(fondo.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
table{
	text-align:center;
	background-color:#39F;
	border-radius:10px;
	table-layout:fixed;
	width:90%;
}
h1{
	text-align:center;
	color:#069;
	
}

